$bgColor: #F1F1EA;
$mainColor: #F0C145;
$moColor: #f0c24560;

* {
    // outline: 1px solid rgba(255, 99, 71, 0.557);
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: $bgColor;
    font-size: 1.6rem;
}

.fp-watermark {
    display: none;
}


.header {
    position: fixed;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 50%;
    left: 7.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $mainColor;
    letter-spacing: 0.7rem;
    z-index: 1000;
}

.PF {
    .section {
        &.active {
            .inner {
                .page {
                    .left {
                        opacity: 1;
                        right: 0;
                        transform: translateX(0);
                    }

                    .right {
                        opacity: 1;
                        bottom: 0;
                        transform: translateY(0);
                    }
                }
            }

            .profileSection {

                .profileDesc {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .titleInner {
            height: 100vh;

            .titleBox {
                display: inline-block;
                position: relative;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;

                .roundBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .titleBg {
                        width: 40%;
                    }

                    .title {
                        position: absolute;
                        font-family: 'DM Serif Display';
                        font-size: 14rem;
                        font-weight: 700;
                        line-height: 12rem;
                        margin-bottom: 3rem;
                        color: $mainColor;
                        letter-spacing: 0.5rem;
                        text-align: center;

                        p {
                            display: inline-block;
                            color: $bgColor;
                            text-shadow: -1px 0 $mainColor, 0 1px $mainColor, 1px 0 $mainColor, 0 -1px $mainColor;
                        }
                    }
                }

                .desc {
                    font-size: 1.6rem;
                    color: rgb(96, 96, 96);
                }
            }
        }

        .inner {
            height: 100vh;
            padding: 10rem 15rem;

            .page {
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 2rem;
                display: flex;
                overflow: hidden;

                .left {
                    position: relative;
                    right: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: 2s;
                    flex: 3;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
                    cursor: pointer;

                    @for $i from 1 through 4 {
                        .thumb0#{$i} {
                            width: 100%;
                            height: 100%;
                            background: url(../public/img/thumbnail0#{$i}.png) no-repeat center top/cover;
                            transition: 2s;

                            &:hover {
                                background-position: center bottom;
                            }
                        }

                        .thumb02 {
                            transition: 5s;
                        }

                        .thumb03 {
                            transition: 3s;
                        }

                        .thumb04 {
                            transition: 4s;
                        }
                    }

                }

                .right {
                    position: relative;
                    bottom: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: 2s 0.5s;
                    flex: 2;
                    padding: 5%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .descBox {

                        .pfNum {
                            font-size: 2.5rem;
                            line-height: 2.5rem;
                            margin-bottom: 1rem;
                        }

                        .pfTit {
                            font-size: 5rem;
                            line-height: 5rem;
                            letter-spacing: 1rem;
                            margin-bottom: 2.5rem;

                            &::after {
                                content: "";
                                display: block;
                                height: 1px;
                                width: 100%;
                                background-color: $mainColor;
                                margin-top: 3%;
                            }
                        }

                        .subTit {
                            font-family: "AppleSDGothicNeo";
                            font-weight: 600;
                            font-size: 1.9rem;
                            margin-bottom: 0.5rem;
                        }

                        .desc {
                            font-family: "AppleGothic";
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                            margin-bottom: 3rem;

                            ul {
                                display: flex;
                                gap: 10px;
                            }
                        }
                    }

                    .btnBox {
                        display: flex;
                        justify-content: space-between;

                        .linkBtn {
                            background-color: $mainColor;
                            border: none;
                            border-radius: 5px;
                            padding: 10px 15%;
                            letter-spacing: 5px;
                            color: #ffffff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .profileSection {

            .profileName {
                font-family: 'DM Serif Display';
                font-size: 7rem;
                font-weight: 700;
                margin-bottom: 5rem;
                color: $mainColor;
                letter-spacing: 2rem;
                text-align: center;
                text-transform: uppercase;
            }

            .profileDesc {
                position: relative;
                display: flex;
                justify-content: center;
                opacity: 0;
                transform: translateY(50%);
                transition: 3s;

                div {
                    width: 30rem;
                    overflow: hidden;

                    h3 {
                        font-family: "AppleSDGothicNeo";
                        font-weight: 600;
                        font-size: 3rem;
                        margin-bottom: 2.5rem;
                        position: relative;

                        &::after {
                            content: "";
                            display: inline-block;
                            width: 100%;
                            height: 2px;
                            background-color: $mainColor;
                            margin: 0 auto;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-left: 1rem;
                        }
                    }

                    ul {
                        font-family: "pretendard";

                        li {
                            font-size: 1.7rem;
                            margin-bottom: 1.7rem;

                            h4 {
                                font-size: 2rem;
                                font-weight: 600;
                                margin-bottom: 1.5rem;
                            }

                            ul {
                                display: flex;
                                gap: 1rem;

                                li {
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }

                .leftBox {
                    margin-right: 5rem;

                    ul {
                        li {
                            .gitList {
                                display: flex;
                                gap: 1.5rem;

                                li {
                                    a {
                                        i {
                                            font-size: 4rem;
                                            cursor: pointer;

                                            &:hover {
                                                color: $mainColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    .gnb {
        position: fixed;
        top: 50%;
        right: 7.5rem;
        font-size: 0;
        transform: translate(-50%, -50%);
        z-index: 999;

        ul {
            display: flex;
            gap: 5rem;
            flex-direction: column;

            li {

                a {
                    position: relative;
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background-color: $moColor;
                    border-radius: 50%;
                    transition: 0.5s;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid $moColor;
                        border-radius: 50%;
                        transition: 0.5s;
                    }
                }

                &.on a {
                    background-color: $mainColor;
                    transition: 0.5s;

                    &::before {
                        width: 3.6rem;
                        height: 3.6rem;
                        border: 2px solid $mainColor;
                        transition: 0.5s;
                    }

                }
            }
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .titleBg {
        animation: bg_spin infinite 25s linear;
    }
}

@keyframes bg_spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}