$bgColor: #F1F1EA;
$mainColor: #F0C145;
$moColor: #f0c24560;

* {
    // outline: 1px solid tomato;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: $bgColor;
    font-size: 1.6rem;
}

.fp-watermark {
    display: none;
}

.PF {
    .section {
        .titleInner {
            height: 100vh;

            .titleBox {
                display: inline-block;
                position: relative;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;

                .roundBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .titleBg {
                        width: 40%;
                    }

                    .title {
                        position: absolute;
                        font-family: 'DM Serif Display';
                        font-size: 14rem;
                        font-weight: 700;
                        line-height: 12rem;
                        margin-bottom: 30px;
                        color: #F0C145;
                        letter-spacing: 0.5rem;
                        text-align: center;

                        p {
                            display: inline-block;
                            color: $bgColor;
                            text-shadow: -1px 0 #F0C145, 0 1px #F0C145, 1px 0 #F0C145, 0 -1px #F0C145;
                        }
                    }
                }

                .sub_title {
                    font-size: 3rem;
                    font-weight: 500;
                    margin-bottom: 1.5rem;
                }

                .desc {
                    font-size: 1.6rem;
                    color: rgb(96, 96, 96);
                }
            }
        }

        .inner {
            height: 100vh;
            padding: 10rem 15rem;

            .page {
                width: 100%;
                height: 100%;
                background-color: #ffffff;
                border-radius: 2rem;
                display: flex;
                overflow: hidden;

                .left {
                    position: relative;
                    flex: 3;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
                    cursor: pointer;

                    @for $i from 1 through 4 {
                        .thumb0#{$i} {
                            width: 100%;
                            height: 100%;
                            background: url(../public/img/thumbnail0#{$i}.png) no-repeat center top/cover;
                            transition: 2s;

                            &:hover {
                                background-position: center bottom;
                            }
                        }

                        .thumb02 {
                            transition: 5s;
                        }

                        .thumb03 {
                            transition: 3s;
                        }

                        .thumb04 {
                            transition: 4s;
                        }
                    }

                }

                .right {
                    flex: 2;
                    padding: 5%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .descBox {

                        .pfNum {
                            font-size: 2.5rem;
                            line-height: 2.5rem;
                            margin-bottom: 1rem;
                        }

                        .pfTit {
                            font-size: 5rem;
                            line-height: 5rem;
                            letter-spacing: 1rem;
                            margin-bottom: 2.5rem;

                            &::after {
                                content: "";
                                display: block;
                                height: 1px;
                                width: 100%;
                                background-color: $mainColor;
                                margin-top: 3%;
                            }
                        }

                        .subTit {
                            font-family: "AppleSDGothicNeo";
                            font-weight: 600;
                            font-size: 1.9rem;
                            margin-bottom: 0.5rem;
                        }

                        .desc {
                            font-family: "AppleGothic";
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            margin-bottom: 3rem;
                            display: flex;
                            gap: 10px;
                        }
                    }

                    .btnBox {
                        display: flex;
                        justify-content: space-between;

                        .linkBtn {
                            background-color: $mainColor;
                            border: none;
                            border-radius: 5px;
                            padding: 10px 15%;
                            letter-spacing: 5px;
                            color: #ffffff;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .gnb {
        position: fixed;
        top: 50%;
        right: 7.5rem;
        font-size: 0;
        transform: translate(-50%, -50%);
        z-index: 999;

        ul {
            display: flex;
            gap: 5rem;
            flex-direction: column;

            li {

                a {
                    position: relative;
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    background-color: $moColor;
                    border-radius: 50%;
                    transition: 0.5s;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid $moColor;
                        border-radius: 50%;
                        transition: 0.5s;
                    }
                }

                &.on a {
                    background-color: $mainColor;
                    transition: 0.5s;

                    &::before {
                        width: 3.6rem;
                        height: 3.6rem;
                        border: 2px solid $mainColor;
                        transition: 0.5s;
                    }

                }
            }
        }
    }
}

// .cover {
//     display: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100vh;
//     background: $bgColor;
//     color: $mainColor;
//     z-index: 1000;

//     .indexBox {
//         position: relative;
//         // width: 30%;
//         padding: 5rem;
//         transform: translate(-50%, -50%);
//         top: 50%;
//         left: 50%;
//         border-top: 3px dashed #F0C145;
//         border-right: 3px solid #F0C145;
//         border-bottom: 3px solid #F0C145;
//         border-left: 3px dashed #F0C145;

//         .indexTitle {
//             position: absolute;
//             transform: translate(-50%, -50%);
//             top: 50%;
//             left: 50%;
//             font-family: 'DM Serif Display';
//             font-size: 8rem;
//             color: #F0C145;
//             letter-spacing: 0.5rem;
//             text-align: center;
//             background-color: $bgColor;

//             p {
//                 display: inline-block;
//                 color: $bgColor;
//                 text-shadow: -1px 0 #F0C145, 0 1px #F0C145, 1px 0 #F0C145, 0 -1px #F0C145;
//             }
//         }

//         ul {
//             display: flex;
//             flex-direction: column;

//             .linkList {
//                 display: inline;
//                 a{
//                     font-family: "AppleGothic";
//                     font-size: 6rem;
//                     line-height: 8rem;
//                 }
//             }
//         }
//     }

//     &.on {
//         display: block;
//     }
// }

.header {
    position: fixed;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 50%;
    left: 7.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $mainColor;
    letter-spacing: 0.7rem;
    z-index: 1000;
}

// .cover_open {
//     position: fixed;
//     top: 5rem;
//     right: 5rem;
//     font-size: 0;
//     width: 4rem;
//     height: 4rem;
//     border: none;
//     border: 2px solid $mainColor;
//     border-radius: 0.5rem;
//     z-index: 1000;

//     &::before {
//         content: "";
//         position: absolute;
//         top: 10px;
//         left: 6px;
//         right: 6px;
//         height: 2px;
//         border-radius: 2px;
//         background: $mainColor;
//         transition: 0.5s;
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         bottom: 10px;
//         left: 6px;
//         right: 6px;
//         height: 2px;
//         border-radius: 2px;
//         background: $mainColor;
//         transition: 0.5s;
//     }

//     span {
//         &::before {
//             content: "";
//             position: absolute;
//             top: calc(50% - 1px);
//             left: 6px;
//             right: 6px;
//             height: 2px;
//             border-radius: 2px;
//             background: $mainColor;
//             transition: 0.5s;
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             top: calc(50% - 1px);
//             left: 6px;
//             right: 6px;
//             height: 2px;
//             border-radius: 2px;
//             background: $mainColor;
//             transition: 0.5s;
//         }
//     }
// }

// .cover_open.on {
//     &::before {
//         display: none;
//     }

//     &::after {
//         display: none;
//     }

//     span {
//         &::before {
//             transform: rotate(45deg);
//         }

//         &::after {
//             transform: rotate(-45deg);
//         }
//     }
// }

@media (prefers-reduced-motion: no-preference) {
    .titleBg {
        animation: bg_spin infinite 25s linear;
    }
}

@keyframes bg_spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}